body{
  overflow-x: hidden;
}
.time-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}
.btn:hover{
  background-color: red;
}
.booking-page,.calender-loading-page{

  min-height: 90vh;
}
.booking-page,.calender-page{
  padding: 1rem 2rem;
  background-image: url("./image/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}
.heading,.footer{
  background-color: darkcyan;
}
.calender-container,.time-container{
  height: 50vh;
}
.subhead{
}
@media only screen and (max-width: 575.9px) {
        .calender-container,
        .time-container {
          padding: 25px;
          height: 45vh;
        }
}